In [1]:
Exercises 1
1.1 Data structures

SyntaxError: invalid syntax (2434645733.py, line 1)

In [2]:
import pandas as pd

A = [5,8,7,6,8,4]
B = [1.3,2.1,1.8,1.2,1.4,2.3]
C = ["y","y","n","y","n","n"]

dataframe = pd.DataFrame(zip(A,B,C))

In [3]:
dataframe

   0    1  2
0  5  1.3  y
1  8  2.1  y
2  7  1.8  n
3  6  1.2  y
4  8  1.4  n
5  4  2.3  n

In [4]:
dataframe.shape

(6, 3)

In [5]:
#Print the value at index
dataframe.iat[3,2]

'y'

In [6]:
#Print the 4th row
dataframe.iloc[4]

0      8
1    1.4
2      n
Name: 4, dtype: object

In [7]:
#Print the subset of columns 1,2 and the rows 2-5
dataframe.iloc[2:6,[1,2]]

     1  2
2  1.8  n
3  1.2  y
4  1.4  n
5  2.3  n

In [8]:
#Pivot the table from (6,3) to (3,6)
dataframe.transpose()

     0    1    2    3    4    5
0    5    8    7    6    8    4
1  1.3  2.1  1.8  1.2  1.4  2.3
2    y    y    n    y    n    n

In [9]:
1.2 Thyroid Disease

SyntaxError: invalid syntax (2657279850.py, line 1)

In [10]:
data1 = pd.read_csv("allbp.data", sep=",", index_col=False, header=None, na_values=["?"])

In [11]:
#Label the data correctly using labels from .name file
data1 = data1.set_axis(["age","sex","on thyroxine","query on thyroxine","on antithyroid medication","sick","pregnant",
                        "thyroid surgery","I131 treatment","query hypothyroid","query hyperthyroid","lithium","goitre",
                        "tumor","hypopituitary","psych","TSH measured","TSH","T3 measured","T3","TT4 measured","TT4",
                        "T4U measured","T4U","FTI measured","FTI","TBG measured","TBG","referral source", "other"], axis=1)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,other
0,41.0,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative.|3733
1,23.0,F,f,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,negative.|1442
2,46.0,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative.|2965
3,70.0,F,t,f,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative.|806
4,70.0,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,negative.|2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,70.0,M,f,f,f,f,f,f,f,f,...,t,155.0,t,1.05,t,148.0,f,NaN,SVI,negative.|3689
2796,73.0,M,f,t,f,f,f,f,f,f,...,t,63.0,t,0.88,t,72.0,f,NaN,other,negative.|3652
2797,75.0,M,f,f,f,f,f,f,f,f,...,t,147.0,t,0.80,t,183.0,f,NaN,other,negative.|1287
2798,60.0,F,f,f,f,f,f,f,f,f,...,t,100.0,t,0.83,t,121.0,f,NaN,other,negative.|3496
2799,81.0,F,f,f,f,f,f,f,f,f,...,t,114.0,t,0.99,t,115.0,f,NaN,SVI,negative.|724

In [12]:
#Number of observations and variables
print(len(data1))
print(len(data1.columns))

2800
30

In [13]:
#Number of missing values per column
data1.isnull().sum(axis=0)

age                             1
sex                           110
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           284
T3 measured                     0
T3                            585
TT4 measured                    0
TT4                           184
T4U measured                    0
T4U                           297
FTI measured                    0
FTI                           295
TBG measured                    0
TBG                          2800
referral source                 0
other                           0
dtype: int64

In [14]:
#sex, TSH, T3, TT4, T4U, FTI and TBG have missing values. The numbers are presented on the preceeding print.

1.3 Thyroid Disease (continued)

In [52]:
#First create a filter for t/f values
yes_no_values = {"f","t"}
#Iterate over all columns, and check if it contains yes or no values
yes_no_columns = [col for col in data1.columns
                  if set(data1[col].dropna().unique()).issubset(yes_no_values)
                 ]
#Select only the wanted columns from variable
yes_no_data1 = data1[yes_no_columns]
#Convert t values to 1 and f to 0
yes_no_data1 = yes_no_data1.map(lambda x: 1 if x == "t" else 0)
#Calculate ratio for yes values / total observations
yes_ratio = yes_no_data1.sum() / len(yes_no_data1)

yes_ratio

on thyroxine                 0.117857
query on thyroxine           0.014286
on antithyroid medication    0.012143
sick                         0.039286
pregnant                     0.014643
thyroid surgery              0.013929
I131 treatment               0.017143
query hypothyroid            0.058214
query hyperthyroid           0.061786
lithium                      0.005000
goitre                       0.008929
tumor                        0.025357
hypopituitary                0.000357
psych                        0.048214
TSH measured                 0.898571
T3 measured                  0.791071
TT4 measured                 0.934286
T4U measured                 0.893929
FTI measured                 0.894643
TBG measured                 0.000000
TBG                          0.000000
dtype: float64

In [60]:
#Create subset with wanted columns
subset1 = data1[["TSH","T3","TT4","T4U","FTI","TBG"]]
#Square elementwise and the sum divided by count of all non nan values
subset1_ratio = (subset1**2).sum() / subset1.count()
subset1_ratio

TSH      481.725148
T3         4.780147
TT4    13148.934755
T4U        1.033601
FTI    13354.902248
TBG             NaN
dtype: float64

In [77]:
#Isolate the wanted columns
subset2 = data1[["T3","TT4"]]
meanT3 = subset2["T3"].mean()
#Replace NaN values with the mean of the column
subset2.loc[:, "T3"] = subset2["T3"].fillna(meanT3)
subsetratio = (subset2["T3"] / subset2["TT4"]).sum() / (subset2["T3"] / subset2["TT4"]).count()
print(f"Mean ratio of T3 and TT4 {(subsetratio):.4f}")

Mean ratio of T3 and TT4 0.0197

1.4 Purchases

In [76]:
purchases = pd.read_csv("purchases.csv", sep=",", na_values=["NA"])
#There are postal adresses in the location column
#Changing them to the city name
purchases["location"] = purchases["location"].replace({"33100": "Tampere","20100": "Turku"})
purchases["sex"] = purchases["sex"].replace({"nale": "male"})
purchases["purchases"] = purchases["purchases"].fillna(0)

purchases.loc[60:86]

       sex  location  purchases  retention_time
60    male     Turku        0.0           106.1
61    male   Tampere        4.0            39.7
62    male     Turku        5.0            74.5
63    male     Turku        6.0            14.5
64  female  Helsinki        1.0            20.5
65    male  Helsinki        8.0            88.3
66  female  Helsinki        7.0             NaN
67    male  Helsinki        4.0             NaN
68    male  Helsinki        2.0           219.3
69  female  Helsinki        7.0           199.9
70  female   Tampere        2.0             7.9
71  female  Helsinki        5.0            60.8
72    male  Helsinki        7.0            16.7
73    male   Tampere        6.0            90.3
74  female  Helsinki        1.0            86.7
75    male  Helsinki        9.0             7.2
76  female  Helsinki       10.0            58.7
77    male  Helsinki        1.0           144.6
78    male     Turku        6.0             1.9
79  female  Helsinki        7.0           179.6
80  female   Tampere        6.0             9.4
81  female  Helsinki        6.0            30.5
82    male     Turku        4.0            30.1
83    male   Tampere       13.0             0.5
84  female  Helsinki        3.0             NaN
85  female  Helsinki        6.0            44.4
86  female     Turku        9.0            95.0

In [75]:
#Mean imputation for retention_time
purchases_retention_time_mean = purchases["retention_time"].mean()
purchases["retention_time"] = purchases["retention_time"].fillna(purchases_retention_time_mean)

Bonus

In [83]:
#Single statement for grouping, then filling NaN numbers with median for each variable
purchases["retention_time"] = purchases.groupby(["sex","location"])["retention_time"].transform(lambda x: x.fillna(x.median()))

1.5 Electric bikes

In [91]:
eb = pd.read_csv("bikes.data", sep=",")
eb.loc[0:50]

,ticket,cost,month,location_from,location_to,duration,distance,assistance,energy_used,energy_collected
0,single,0.35,9,MICROTEKNIA,PUIJONLAAKSO,411.0,2150,1,19.0,2.7
1,single,1.20,5,SATAMA,KEILANKANTA,1411.0,7130,1,53.8,15.3
2,savonia,0.00,9,TASAVALLANKATU,NEULAMÄKI,1308.0,5420,1,43.0,9.9
3,savonia,0.00,10,TORI,KAUPPAKATU,1036.0,1180,1,6.5,2.1
4,single,0.30,9,TORI,TORI,319.0,1120,1,13.7,1.2
5,single,1.00,6,NEULAMÄKI,TORI,1185.0,3280,1,21.2,0.0
6,single,0.70,8,KEILANKANTA,TASAVALLANKATU,817.0,4470,1,27.6,0.6
7,single,0.35,7,PUIJONLAAKSO,MICROTEKNIA,413.0,2150,1,14.5,10.2
8,season,0.00,6,NEULAMÄKI,TORI,797.0,4490,1,25.4,12.0
9,savonia,0.00,9,TORI,TORI,5.0,0,0,0.0,0.0
10,savonia,0.00,10,TORI,MICROTEKNIA,643.0,3060,1,23.1,6.6
11,season,0.00,6,SATAMA,KAUPPAKATU,1014.0,1290,1,15.6,0.6
12,season,0.00,8,TORI,PUIJONLAAKSO,822.0,2340,1,31.5,3.6
13,single,0.10,5,TORI,TORI,64.0,0,1,0.0,0.0
14,single,0.10,5,KEILANKANTA,KEILANKANTA,86.0,0,1,0.0,0.0
15,single,0.40,7,TORI,TASAVALLANKATU,441.0,2080,1,15.1,5.4
16,season,0.00,7,NEULAMÄKI,TORI,905.0,4560,1,24.6,21.3
17,savonia,0.00,9,MICROTEKNIA,KEILANKANTA,1337.0,8400,1,30.0,9.3
18,season,0.00,6,TORI,TORI,233.0,0,1,0.0,0.0
19,single,0.50,5,TORI,MICROTEKNIA,585.0,3070,1,16.6,8.4
20,single,0.15,7,TORI,KAUPPAKATU,150.0,380,1,1.4,0.3
21,season,0.00,6,TASAVALLANKATU,TASAVALLANKATU,38.0,0,1,0.0,0.0
22,single,0.20,5,KAUPPAKATU,SATAMA,211.0,1040,1,5.1,3.9
23,single,0.15,5,TASAVALLANKATU,TASAVALLANKATU,138.0,-150,1,0.2,0.0
24,single,0.05,6,TASAVALLANKATU,TASAVALLANKATU,18.0,0,1,0.0,0.0
25,season,0.00,4,KAUPPAKATU,KAUPPAKATU,80.0,0,1,0.0,0.0
26,single,0.05,7,TASAVALLANKATU,TASAVALLANKATU,52.0,0,0,0.0,0.0
27,single,0.05,7,KAUPPAKATU,KAUPPAKATU,51.0,0,1,0.0,0.0
28,season,0.00,10,TORI,TORI,233.0,1120,1,6.9,0.9
29,single,0.30,5,KAUPPAKATU,SATAMA,321.0,1100,1,7.0,6.9
30,single,0.60,5,TORI,MICROTEKNIA,661.0,3050,1,16.8,8.1
31,single,0.65,6,NEULAMÄKI,TORI,779.0,4470,1,19.1,8.1
32,single,0.40,10,TORI,SATAMA,472.0,950,1,4.0,6.0
33,single,0.15,7,TORI,KAUPPAKATU,131.0,400,1,2.1,0.0
34,single,0.65,5,KAUPPAKATU,TASAVALLANKATU,754.0,1850,1,9.3,5.4
35,single,0.25,6,KYS,PUIJONLAAKSO,275.0,890,1,13.8,1.5
36,single,0.30,8,KAUPPAKATU,TASAVALLANKATU,334.0,1610,1,9.3,2.1
37,savonia,0.00,10,KEILANKANTA,PIRTTI,1161.0,6100,1,22.1,3.0
38,single,1.45,5,SATAMA,MICROTEKNIA,1702.0,5380,1,47.7,6.6
39,single,0.15,4,NEULAMÄKI,NEULAMÄKI,129.0,0,1,0.0,0.0
40,season,0.00,7,TORI,TORI,211.0,570,1,4.2,0.3
41,savonia,0.00,10,TORI,KEILANKANTA,1247.0,6490,1,42.3,5.4
42,season,0.00,10,KYS,NEULAMÄKI,618.0,2900,1,34.0,3.3
43,single,0.20,7,KEILANKANTA,KEILANKANTA,185.0,100,0,0.0,0.0
44,single,0.30,9,KAUPPAKATU,TASAVALLANKATU,334.0,1610,1,10.0,4.8
45,savonia,0.00,10,MICROTEKNIA,TORI,704.0,3040,1,25.6,8.7
46,savonia,0.00,10,MICROTEKNIA,PUIJONLAAKSO,745.0,3630,1,36.2,8.4
47,season,0.00,8,SATAMA,TORI,596.0,2190,1,27.0,6.9
48,season,0.00,6,SATAMA,TORI,686.0,3540,1,25.7,1.5
49,single,1.15,5,TASAVALLANKATU,SATAMA,1340.0,2730,1,15.9,3.3
50,single,0.40,6,SATAMA,TORI,470.0,900,1,14.4,0.9

While exploring only the first 50 rows of the data, some irrelevant rows are found. These are most likely test cases for the app so these should be removed to improve the usability of the data

Some forms of invalid data include negative numbers for distance and a cost of 0 for long distances. The negative numbers seem to be a flipped sign, so they should be just converted to positive values. The cost of 0 is a bit more difficult. It could be approximated using the distance and time travelled based on other data or it could just be removed for data consistency.

In [92]:
#First let's remove the rows where the user is clearly just testing the functionality of the app, but not acually riding the bike
eb = eb[(eb["distance"] != 0) & (eb["energy_used"] != 0) & (eb["energy_collected"] != 0)]
eb.loc[0:50]

,ticket,cost,month,location_from,location_to,duration,distance,assistance,energy_used,energy_collected
0,single,0.35,9,MICROTEKNIA,PUIJONLAAKSO,411.0,2150,1,19.0,2.7
1,single,1.20,5,SATAMA,KEILANKANTA,1411.0,7130,1,53.8,15.3
2,savonia,0.00,9,TASAVALLANKATU,NEULAMÄKI,1308.0,5420,1,43.0,9.9
3,savonia,0.00,10,TORI,KAUPPAKATU,1036.0,1180,1,6.5,2.1
4,single,0.30,9,TORI,TORI,319.0,1120,1,13.7,1.2
6,single,0.70,8,KEILANKANTA,TASAVALLANKATU,817.0,4470,1,27.6,0.6
7,single,0.35,7,PUIJONLAAKSO,MICROTEKNIA,413.0,2150,1,14.5,10.2
8,season,0.00,6,NEULAMÄKI,TORI,797.0,4490,1,25.4,12.0
10,savonia,0.00,10,TORI,MICROTEKNIA,643.0,3060,1,23.1,6.6
11,season,0.00,6,SATAMA,KAUPPAKATU,1014.0,1290,1,15.6,0.6
12,season,0.00,8,TORI,PUIJONLAAKSO,822.0,2340,1,31.5,3.6
15,single,0.40,7,TORI,TASAVALLANKATU,441.0,2080,1,15.1,5.4
16,season,0.00,7,NEULAMÄKI,TORI,905.0,4560,1,24.6,21.3
17,savonia,0.00,9,MICROTEKNIA,KEILANKANTA,1337.0,8400,1,30.0,9.3
19,single,0.50,5,TORI,MICROTEKNIA,585.0,3070,1,16.6,8.4
20,single,0.15,7,TORI,KAUPPAKATU,150.0,380,1,1.4,0.3
22,single,0.20,5,KAUPPAKATU,SATAMA,211.0,1040,1,5.1,3.9
28,season,0.00,10,TORI,TORI,233.0,1120,1,6.9,0.9
29,single,0.30,5,KAUPPAKATU,SATAMA,321.0,1100,1,7.0,6.9
30,single,0.60,5,TORI,MICROTEKNIA,661.0,3050,1,16.8,8.1
31,single,0.65,6,NEULAMÄKI,TORI,779.0,4470,1,19.1,8.1
32,single,0.40,10,TORI,SATAMA,472.0,950,1,4.0,6.0
34,single,0.65,5,KAUPPAKATU,TASAVALLANKATU,754.0,1850,1,9.3,5.4
35,single,0.25,6,KYS,PUIJONLAAKSO,275.0,890,1,13.8,1.5
36,single,0.30,8,KAUPPAKATU,TASAVALLANKATU,334.0,1610,1,9.3,2.1
37,savonia,0.00,10,KEILANKANTA,PIRTTI,1161.0,6100,1,22.1,3.0
38,single,1.45,5,SATAMA,MICROTEKNIA,1702.0,5380,1,47.7,6.6
40,season,0.00,7,TORI,TORI,211.0,570,1,4.2,0.3
41,savonia,0.00,10,TORI,KEILANKANTA,1247.0,6490,1,42.3,5.4
42,season,0.00,10,KYS,NEULAMÄKI,618.0,2900,1,34.0,3.3
44,single,0.30,9,KAUPPAKATU,TASAVALLANKATU,334.0,1610,1,10.0,4.8
45,savonia,0.00,10,MICROTEKNIA,TORI,704.0,3040,1,25.6,8.7
46,savonia,0.00,10,MICROTEKNIA,PUIJONLAAKSO,745.0,3630,1,36.2,8.4
47,season,0.00,8,SATAMA,TORI,596.0,2190,1,27.0,6.9
48,season,0.00,6,SATAMA,TORI,686.0,3540,1,25.7,1.5
49,single,1.15,5,TASAVALLANKATU,SATAMA,1340.0,2730,1,15.9,3.3
50,single,0.40,6,SATAMA,TORI,470.0,900,1,14.4,0.9